@tailwind base;
@tailwind components;

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-gray-700 rounded-t;
}

.remark-code-title + div > pre {
  @apply mt-0 rounded-t-none;
}

.task-list-item:before {
  @apply hidden;
}

html {
  scroll-behavior: smooth;
}

body[theme='dark'] {
  background: #171717;
}

.twemoji-emoji {
  display: inline-block !important;
  width: 1.25rem !important;
  height: 1.25rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@keyframes rotating {
  to {
    --angle: 360deg;
  }
}

.code-line {
  @apply pl-4 -mx-4 border-l-4 border-gray-800;
}

.highlight-line {
  @apply -mx-4 bg-gray-700 bg-opacity-50 border-l-4 border-blue-500;
}

.line-number::before {
  @apply pr-4 -ml-2 text-gray-400;
  content: attr(line);
}

pre[class*='language-'].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*='language-'].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/* Metadata */
.file-meta {
  padding: 0.75rem;
  border-radius: 0 0 0.3rem 0.3rem;
  font: 12px -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
  border-width: 1px;
}

.file-meta {
  color: #666;
  background-color: #f7f7f7;
  border-color: #ccc !important;
}

[class='dark'] .file-meta {
  color: #f7f7f7;
  background-color: #3e3e3e !important;
  border-color: #4e4e4e #4e4e4e #5e5e5e !important;
}

.file-meta a {
  font-weight: 600;
  text-decoration: none;
  border: 0;
}

.file-meta a {
  color: #666;
}

[class='dark'] .file-meta-dark a {
  color: #fff;
}

.ghcode-embed-contents {
  border-color: #ccc !important;
}

[class='dark'] .ghcode-embed-contents {
  border-color: #4e4e4e #4e4e4e #5e5e5e !important;
}

/* hide content for small device */
@media (max-width: 575.98px) {
  .hide-in-phone {
    display: none;
  }
}

/* Task list GFM style */
.task-list-item {
  padding-left: 1rem !important;
}
.task-list-item > input {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

/* Custom autolink styling */
.h-autolink-wrap {
  @apply font-mono;
  margin-right: 0.25rem;
  text-decoration: none !important;
}
.h-autolink-wrap:hover {
  text-decoration: underline !important;
}

kbd {
  @apply bg-gray-300 rounded border border-gray-400 text-gray-600 inline-block font-bold whitespace-nowrap;
  @apply dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  padding: 1px 2px;
  font-size: 0.825rem;
}

.dark kbd {
  box-shadow: 0 1px 1px rgb(175 175 175 / 20%), 0 2px 0 0 rgb(97 97 97 / 70%) inset;
}

code.hljs::-webkit-scrollbar {
  display: none !important;
}

.admonition-content > * {
  display: inline-block;
  gap: 2px;
}

.admonition-content > p,
.admonition-title > p {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.admonition-content > * > p,
.admonition-title > * > p,
.admonition-content > * > pre {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.admonition-content > br {
  display: block;
  content: '';
  margin: 0.2rem;
}

.prose code {
  word-break: break-all;
}

/*
  Custom skeleton styling
*/
.react-loading-skeleton {
  background-color: #e5e7eb !important;
  background-image: linear-gradient(90deg, #e5e7eb, #f3f4f6, #e5e7eb) !important;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  display: inline-block;
  line-height: 1;
  width: 100%;
  animation: skeletonKeyframes 1.2s ease-in-out infinite;
}

.dark .react-loading-skeleton {
  background-image: linear-gradient(90deg, #404040, #525252, #404040) !important;
  background-color: #404040 !important;
}

.skeleton-wrap {
  @apply flex w-full;
}

.skeleton-wrap > span {
  @apply w-full;
}

@keyframes skeletonKeyframes {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

/*
  react-medium-image-zoom
*/
[data-rmiz-wrap='visible'],
[data-rmiz-wrap='hidden'] {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
}
[data-rmiz-wrap='hidden'] {
  visibility: hidden;
}
[data-rmiz-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: background-color;
}

.dark [data-rmiz-overlay] {
  background-color: rgb(38, 38, 38) !important;
}
[data-rmiz-btn-open],
[data-rmiz-btn-close] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* reset styles */
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font: inherit;
  color: inherit;
  background: none;
  appearance: none;
}
[data-rmiz-btn-open] {
  @apply outline-none;
  cursor: zoom-in;
}
[data-rmiz-btn-open]:focus {
  @apply outline-none;
}
[data-rmiz-btn-close] {
  @apply outline-none;
  cursor: zoom-out;
}
[data-rmiz-btn-close]:focus {
  @apply outline-none;
}
[data-rmiz-modal-content] {
  position: absolute;
  transition-property: transform;
  transform-origin: center center;
  @apply flex flex-col items-center justify-center;
}

@tailwind utilities;
