@tailwind base;
@tailwind components;

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-gray-700 rounded-t;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.task-list-item:before {
  @apply hidden;
}

html {
  scroll-behavior: smooth;
}

.twemoji-emoji {
  display: inline-block !important;
  width: 1.25rem !important;
  height: 1.25rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* Metadata */
.file-meta {
  padding: 0.75rem;
  border-radius: 0 0 0.3rem 0.3rem;
  font: 12px -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
  border-width: 1px;
}

.file-meta {
  color: #666;
  background-color: #f7f7f7;
  border-color: #ccc !important;
}

[class='dark'] .file-meta {
  color: #f7f7f7;
  background-color: #3e3e3e !important;
  border-color: #4e4e4e #4e4e4e #5e5e5e !important;
}

.file-meta a {
  font-weight: 600;
  text-decoration: none;
  border: 0;
}

.file-meta a {
  color: #666;
}

[class='dark'] .file-meta-dark a {
  color: #fff;
}

.ghcode-embed-contents {
  border-color: #ccc !important;
}

[class='dark'] .ghcode-embed-contents {
  border-color: #4e4e4e #4e4e4e #5e5e5e !important;
}

/* hide content for small device */
@media (max-width: 575.98px) {
  .hide-in-phone {
    display: none;
  }
}

/* Task list GFM style */
.task-list-item {
  padding-left: 1rem !important;
}
.task-list-item > input {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

/* Custom autolink styling */
.h-autolink-wrap {
  @apply font-mono;
  margin-right: 0.25rem;
  text-decoration: none !important;
}
.h-autolink-wrap:hover {
  text-decoration: underline !important;
}

kbd {
  @apply bg-gray-300 rounded border border-gray-400 text-gray-600 inline-block font-bold whitespace-nowrap;
  @apply dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  padding: 1px 2px;
  font-size: 0.825rem;
}

.dark kbd {
  box-shadow: 0 1px 1px rgb(175 175 175 / 20%), 0 2px 0 0 rgb(97 97 97 / 70%) inset;
}

code.hljs::-webkit-scrollbar {
  display: none !important;
}

/* Admonitions */
/* base admonitions variables of off infima variables */
:root {
  --ra-admonition-background-color: var(--ifm-alert-background-color);
  --ra-admonition-border-width: var(--ifm-alert-border-width);
  --ra-admonition-border-color: var(--ifm-alert-border-color);
  --ra-admonition-border-radius: var(--ifm-alert-border-radius);
  --ra-admonition-color: var(--ifm-alert-color);
  --ra-admonition-padding-vertical: var(--ifm-alert-padding-vertical);
  --ra-admonition-padding-horizontal: var(--ifm-alert-padding-horizontal);
  --ra-color-note: var(--ifm-color-secondary);
  --ra-color-important: var(--ifm-color-info);
  --ra-color-tip: var(--ifm-color-success);
  --ra-color-caution: var(--ifm-color-warning);
  --ra-color-warning: var(--ifm-color-danger);
  --ra-color-text-dark: var(--ifm-color-gray-900);
}

/* apply variables to admonitions */

.admonition {
  margin-bottom: 1em;
  padding: 15px 30px 15px 15px;
}

.admonition h5 {
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.admonition-icon {
  @apply flex align-middle self-center;
  margin-right: 0.2em;
}

.admonition-icon svg {
  display: inline-block;
  width: 22px;
  height: 22px;
  stroke-width: 0;
}

.admonition-content > :last-child {
  margin-bottom: 0;
}

.admonition-heading > h5 {
  @apply flex items-end gap-1;
}

/* default for custom types */
.admonition {
  background-color: rgba(118, 51, 219, 0.1);
  border-left: 8px solid #7633db;
}

.admonition h5 {
  color: #7633db;
}

.admonition .admonition-icon svg {
  stroke: #7633db;
  fill: #7633db;
}

/** native types */
.admonition-caution {
  background-color: rgba(230, 126, 34, 0.1);
  border-left: 8px solid #e67e22;
}

.admonition-caution h5 {
  color: #e67e22;
}

.admonition-caution .admonition-icon svg {
  stroke: #e67e22;
  fill: #e67e22;
}

.admonition-tip {
  background-color: rgba(46, 204, 113, 0.1);
  border-left: 8px solid #2ecc71;
}

.admonition-tip h5 {
  color: #2ecc71;
}

.admonition-tip .admonition-icon svg {
  stroke: #2ecc71;
  fill: #2ecc71;
}

.admonition-warning {
  background-color: rgba(231, 76, 60, 0.1);
  border-left: 8px solid #e74c3c;
}

.admonition-warning h5 {
  color: #e74c3c;
}

.admonition-warning .admonition-icon svg {
  stroke: #e74c3c;
  fill: #e74c3c;
}

.admonition-important {
  background-color: rgba(52, 152, 219, 0.1);
  border-left: 8px solid #3498db;
}

.admonition-important h5 {
  color: #3498db;
}

.admonition-important .admonition-icon svg {
  stroke: #3498db;
  fill: #3498db;
}

.admonition-note {
  background-color: rgba(241, 196, 15, 0.1);
  border-left: 8px solid #f1c40f;
}

.admonition-note h5 {
  color: #f1c40f;
}

.admonition-note .admonition-icon svg {
  stroke: #f1c40f;
  fill: #f1c40f;
}

/*
  Custom skeleton styling
*/
.react-loading-skeleton {
  background-color: #e5e7eb !important;
  background-image: linear-gradient(90deg, #e5e7eb, #f3f4f6, #e5e7eb) !important;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  display: inline-block;
  line-height: 1;
  width: 100%;
  animation: skeletonKeyframes 1.2s ease-in-out infinite;
}

.dark .react-loading-skeleton {
  background-image: linear-gradient(90deg, #404040, #525252, #404040) !important;
  background-color: #404040 !important;
}

.skeleton-wrap {
  @apply flex w-full;
}

.skeleton-wrap > span {
  @apply w-full;
}

@keyframes skeletonKeyframes {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

/*
  react-medium-image-zoom
*/
[data-rmiz-wrap='visible'],
[data-rmiz-wrap='hidden'] {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
}
[data-rmiz-wrap='hidden'] {
  visibility: hidden;
}
[data-rmiz-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: background-color;
}

.dark [data-rmiz-overlay] {
  background-color: rgb(38, 38, 38) !important;
}
[data-rmiz-btn-open],
[data-rmiz-btn-close] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* reset styles */
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font: inherit;
  color: inherit;
  background: none;
  appearance: none;
}
[data-rmiz-btn-open] {
  @apply outline-none;
  cursor: zoom-in;
}
[data-rmiz-btn-open]:focus {
  @apply outline-none;
}
[data-rmiz-btn-close] {
  @apply outline-none;
  cursor: zoom-out;
}
[data-rmiz-btn-close]:focus {
  @apply outline-none;
}
[data-rmiz-modal-content] {
  position: absolute;
  transition-property: transform;
  transform-origin: center center;
  @apply flex flex-col items-center justify-center;
}

@tailwind utilities;
