node_modules
*.log*
.nuxt
.nitro
.cache
.output
.data
.env
dist

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.wrangler

# Where I put temporary writing to not be committed
/content-draft